body {
  font-family: sans-serif;
  max-width: 400px;
  margin: 50px auto;
  background: #f0f0f0;
  padding: 20px;
  border-radius: 1rem;
}

input,
button {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  background: #d4f1f9;
  padding: 10px;
  margin-bottom: 6px;
  border-radius: 5px;
  cursor: pointer;
}
