body {
  font-family: sans-serif;
  max-width: 400px;
  margin: 50px auto;
  background: #f0f0f0;
  padding: 20px;
  border-radius: 1rem;
}

input,
button {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  background: #d4f1f9;
  padding: 10px;
  margin-bottom: 6px;
  border-radius: 5px;
  cursor: pointer;
}

#loading {
  text-align: center;
  font-size: 1.2em;
  color: #666;
  margin-top: 50px;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
